<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>


    <link rel="stylesheet" href="../Static/estrutura global .css">
    <link rel="stylesheet" href="../Static/sobre mim .css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">

</head>



<body>
    <header class="header">
        <img src="C:/FATEC/Design Digital/Trabalho 60% da nota/doc/imagens/Logo Gemeos .png" alt="Logo">
        <div class="div link" style="margin-top: 30px;">
            <a href="../Template/sobre mim .html"> <b>Sobre Mim |</b></a>
            <a href="../Template/Interesses .html">Interesses</a>
            <a href="../Template/Trabalhos Desenvolvidos .html">| Trabalhos Desenvolvidos</a>
        </div>
    </header>

    <main>
        <div class="rodape">
            <div>
                <img id=imagem src="C:/FATEC/Design Digital/Trabalho 60% da nota/doc/imagens/Bem Vindo.png" alt="Bem Vindo">
            </div>
        </div>
        <div>
            <img id=foto src="C:/FATEC/Design Digital/Trabalho 60% da nota/doc/imagens/foto.jpg" alt="Foto de Perfil"><br>
            <div class="info_base">
                <h5>Vinícius Andrade Barbosa</h5>
                <h6>Rua Marcolino José Maria</h6>
                <h6>Jacareí – São Paulo – 12309-180</h6>
                <h6>Telefone: (12) 98884-5554</h6>
                <h6>vini.zeus2002@gmail.com</h6>
            </div><br>
            <div class="margem_texto">
                <h4>Objetivo:</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nisl ipsum. Integer sit amet tortor a tortor lobortis ultricies non in diam. Sed a massa vitae erat auctor vestibulum quis in tellus. Ut lacus libero, facilisis. </p><br>
                <h4>Formação Academica:</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul><br>
                <h4>Idiomas:</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>

            </div>


        </div>


    </main>

   
   
    <footer>
        <h4>E-mail: vini.zeus2002@gmail.com</h4>
        <div>
            Contato: (12)98884-5554
        </div>
    </footer>
</body>


</html>