<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhos Desenvolvidos</title>


    <link rel="stylesheet" href="../Static/estrutura global .css">
    <link rel="stylesheet" href="../Static/Trabalhos Desenvolvidos .css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">

</head>



<body>
    <header class="header">
        <img src="C:/FATEC/Design Digital/Trabalho 60% da nota/doc/imagens/Logo Gemeos .png" alt="Logo">
        <div class="div link" style="margin-top: 30px;">
            <a href="../Template/sobre mim .html"> Sobre Mim |</a>
            <a href="../Template/Interesses .html">Interesses</a>
            <a href="../Template/Trabalhos Desenvolvidos .html"><b>| Trabalhos Desenvolvidos</b></a>
        </div>
    </header>

    
    <main>
        <div class="rodape">
            <div class="posição_interesses">
                <h1>TRABALHOS DESENVOLVIDOS</h1>
            </div>
        </div>
        <div class="margem_texto">
            <img id=projeto1 src="C:/FATEC/Design Digital/Trabalho 60% da nota/doc/imagens/projeto.png" alt="Projeto 1">
            <img id=projeto2 src="C:/FATEC/Design Digital/Trabalho 60% da nota/doc/imagens/projeto.png" alt="Projeto 2">
            <img id=projeto3 src="C:/FATEC/Design Digital/Trabalho 60% da nota/doc/imagens/projeto.png" alt="Projeto 3">
            
            <div class="posição_textos">
                <h4>Experiência Profissional:</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul><br>

                <h4>Trabalhos Desenvolvidos:</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul><br>

                <h4>Trabalhos Futuros:</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul><br>

            </div>
        </div>
    </main>

    <footer>
        <h4>E-mail: vini.zeus2002@gmail.com</h4>
        <div>
            Contato: (12)98884-5554
        </div>
    </footer>
</body>


</html>