.rodape{
    height: 100px;
    width: 100vw;
    border-bottom: black solid 1px;
}

.posição_interesses{
    text-align: center;
    padding-top: 28px;
}

.margem_texto{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}

#animais{
    max-width:130px;
    display: block;
    position: relative;
    float: left;
    margin-right: 20px;
}

#jogos{
    max-width:130px;
    display: block;
    position: relative;
    float: right;
    margin-left: 20px;
}

#series_animes{
    max-width:130px;
    display: block;
    position: relative;
    float: left;
    margin-right: 20px;
}



